<% if teacher_signed_in? %>
<a class="btn btn-secondary my-3" href="<%= new_course_url()%>" role="button">New Course </a>
<% if not @courses.nil? %>
<ul class="list-group py-5" >
	<% @courses.each do |course| %>
		<% @subject = Subject.find(course.subject_id)%>
			<div class="col-sm-4">
				<div class="card mb-4 shadow-sm">
					<div class="card-body">
						<p class="card-text"><%= @subject.subject_name %></p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href = '<%=course_path(course.id)%>'">Take Attendance</button>
							</div>
							<small class="text-muted"><%= course.classes%>classes</small>
						</div>
					</div>
				</div>
			</div>
	<% end %>
</ul>
<% else %>
<h2>Wow Such Empty</h2>
<% end %>
<% else %>
<h2><a href="<%= new_admin_session_path%>">
	<i class="fa fa-sign-in"></i> Login as Admin 
</h2>
<% end %>