<% if teacher_signed_in?%>
<% if not @learnings.nil?%>
<b>Students Enrolled:</b>
<br>
<%end%>
<% @learnings.each do |lecture| %>
	<% @student = Student.find(lecture.student_id)%>
	<%= @student.first_name %>
	<br>
<%end%>	
<%= form_tag(edit_attendance_url, id: "a" ,method: "get")%>
	<%#= hidden_field_tag(student_id,value = "Present") %>
	<%= hidden_field_tag(:id,value = @course.id) %>
	<% params.merge(:id => @course.id) %>
	<% if not @learnings.nil?%>
		<input id="attendance" disabled = "true" class= "btn btn-primary my-2"name="commit" type="submit" value="Submit" data-disable-with="Submit" />
	<% end %>
<% end %>
<script type="text/javascript">
function checkStatus(){
	document.querySelector("#attendance").disabled = false
	fetch('https://sidhy-33818.firebaseio.com/.json')
	  .then(response => {
	    return response.json()
	  })
	  .then(data => {
	    // Work with JSON data here
	    for (d in data){
			console.log(data[d])
	    	f = document.querySelector("#a")
	    	f.innerHTML+=(`<input type="hidden" name=${data[d]} value="Present"></input>`)
	    }
	  })
	  .catch(err => {
	    // Do something for an error here
	  })
	  
}
setTimeout(checkStatus,10)
</script>

<h2 class="my-4" style="font-family: Courier New;">Add Students : </h2>
<ul class="list-group my-5">
	<% Student.all.each do |student| %>
	<% @learning = Learning.where(student_id: student.id, course_id: @course.id).first%>
	<% if @learning.nil? %>
	<li class="list-group-item">
		<%= student.first_name %>
		<a href ="<%= new_learning_url(course_id: @course.id,student_id: student.id)%>" class="mx-4"> <i class="fa fa-plus" aria-hidden="true"></i>
		</a> 
	</li>
	<% end %>
</ul>
<% end %>
<%# Thread.new do %>
	<%#system("cd pys && python faceReco.py")%>
<%#end%>